.vscode/
*.hdf5
Axionaut-Marc/Datasets+2.zip
Axionaut-Marc/.ipynb_checkpoints/Training on Axionaut dataset-checkpoint.ipynb
Axionaut-Marc/__MACOSX/Datasets/new/._y_chicane.npy
Axionaut-Marc/Datasets/.DS_Store
Axionaut-Marc/Datasets/axionable_data/.DS_Store
Axionaut-Marc/Datasets/axionable_data/X_train_axio.npy
Axionaut-Marc/Datasets/axionable_data/Y_train_axio.npy
Axionaut-Marc/Datasets/ironcar_data/.DS_Store
Axionaut-Marc/Datasets/ironcar_data/new_track/.DS_Store
Axionaut-Marc/Datasets/ironcar_data/new_track/x_chicane.npy
Axionaut-Marc/Datasets/ironcar_data/new_track/y_chicane.npy
Axionaut-Marc/Datasets/ironcar_data/old_track/balanced_iron_X.npy
Axionaut-Marc/Datasets/ironcar_data/old_track/balanced_iron_Y.npy
Axionaut-Marc/Datasets/new/x_chicane.npy
Axionaut-Marc/Datasets/new/y_chicane.npy
Axionaut-Marc/__MACOSX/._Datasets
Axionaut-Marc/__MACOSX/Datasets/._axionable_data
Axionaut-Marc/__MACOSX/Datasets/._ironcar_data
Axionaut-Marc/__MACOSX/Datasets/._.DS_Store
Axionaut-Marc/__MACOSX/Datasets/axionable_data/._.DS_Store
Axionaut-Marc/__MACOSX/Datasets/axionable_data/._X_train_axio.npy
Axionaut-Marc/__MACOSX/Datasets/axionable_data/._Y_train_axio.npy
Axionaut-Marc/__MACOSX/Datasets/ironcar_data/._new_track
Axionaut-Marc/__MACOSX/Datasets/ironcar_data/._old_track
Axionaut-Marc/__MACOSX/Datasets/ironcar_data/._.DS_Store
Axionaut-Marc/__MACOSX/Datasets/ironcar_data/new_track/._.DS_Store
Axionaut-Marc/__MACOSX/Datasets/ironcar_data/new_track/._x_chicane.npy
Axionaut-Marc/__MACOSX/Datasets/ironcar_data/new_track/._y_chicane.npy
Axionaut-Marc/__MACOSX/Datasets/ironcar_data/old_track/._balanced_iron_X.npy
Axionaut-Marc/__MACOSX/Datasets/ironcar_data/old_track/._balanced_iron_Y.npy
Axionaut-Marc/__MACOSX/Datasets/new/._x_chicane.npy
Axionaut-Marc/car_repo/*
Axionaut-Marc/good/*
Axionaut-Marc/ironcar/*
Axionaut-Marc/Datasets+2.zip
Axionaut-Marc/good.zip
Axionaut-Marc/records.zip
Axionaut-Marc/ironcar.7z
