body { 
    font-size: 16px !important; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; 
    padding-top: 2rem; 
    padding-bottom: 2rem; 
    padding-left: 2rem; 
    padding-right: 2rem;
    padding: 0px;
}

h1 { font-size: 18px; font-weight: bold; }
h2 { font-size: 18px; font-weight: bold; }
h3 { font-size: 18px; font-weight: bold; }

.myList {
    padding: 40px;
}

.myContainer {
    padding-left: 40px;
    padding-top: 20px;
}

.myContent {
    padding: 30px;
}

.wf-title {
    /* padding: 20px 40px; */
    font-size: 26;
    font-weight: bold;
}

.bs-docs-header {
    padding-top: 60px;
    padding-bottom: 60px;
    /* font-size: 24px; */
    text-align: left;
}

.reports li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.reports ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.myFigure img{
    height: 900px;
}

/* .reports a {
    color: yellow;
}

.reports a:visited {
    color: yellow;
}

.reports a:hover {
    color: white;
    text-decoration: none;
} */

.bs-docs-header, .bs-docs-masthead {
    position: relative;
    padding: 30px 40px;
    /* color: #cdbfe3; */
    color: white;
    /* text-align: center; */
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}








.myNavigation {
    background-color: #EEE;
}

.datasets_list {
    list-style: none;
    padding: 0px;
}

.datasets_list li {
    list-style: none;
    padding: 0px;
}

a.dataset {

}

.datasets_list li.selected {
    background-color: #CCC;
    font-weight: bold;
}

.cursor .current {
    font-weight: bold;
    min-width: 50px;
}

.cursor {
    text-align: center;
    padding: 10px;
}


.image-container {
    padding: 50px;
    background-color: #EEE;
    text-align: center;
}

.prediction-class {
    /*float: left;*/
    width: 100px;
    background-color: gray;
    display: inline-block;
}

.viewer-prediction-class {
    width: 20px;
    background-color: gray;
    display: inline-block;
    
    border: solid 1px #EEE;
    margin: 2px;
    cursor: pointer;
}

.prediction-class-selected {
    background-color: red;
}

.prediction-class-corrected {
    background-color: yellow;
}

h3 {
    clear: both;
}

.labels {
    /*clear: both;*/
    /*float: none;*/
    width: 100%;
    display: block;
    text-align: center;
}

.viewer-image-container {
    float: left;
    padding: 5px;
}



.info {
    color: white;
}