{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block nav %}

  <li class="nav-item">
    <div class='info'>
      <h3>Dataset info</h3>
      <p>Samples: <b>{{dataset.X | length}}</b></p>
      <p>Size: <b>{{dataset.X.shape[1]}} x {{dataset.X.shape[2]}}</b></p>
    </div>
  </li>

  <li class="nav-item">
    <a class="btn btn-primary" href="#" onclick="save_dataset()">Save</a>
  </li>
{% endblock %}



{% block content %}
  <script type="text/javascript">
/*    document.addEventListener('keydown', (event) => {
      const keyName = event.key;

      if(keyName === "ArrowRight"){
        cursor_next();
      }else if(keyName === "ArrowLeft"){
        cursor_prev();
      }

    }, false);
*/
    function cursor_next(){
       $.ajax
        ({
            type: "GET",
            url: '/labeler/cursor_next',
            async: true,
            success: function () {
              window.location.assign("/viewer")
              var target = document.getElementById('contento');
              var spinner = new Spinner(opts).spin(target);
            }
        });
    }

    function cursor_prev(){
       $.ajax
        ({
            type: "GET",
            url: '/labeler/cursor_prev',
            async: true,
            success: function () {
              window.location.assign("/viewer")
              var target = document.getElementById('contento');
              var spinner = new Spinner(opts).spin(target);
            }
        });
    }

    function change_dataset(dataset){
       $.ajax
        ({
            type: "GET",
            url: '/labeler/change_dataset?dataset='+dataset,
            async: true,
            success: function () {
              window.location.assign("/viewer")
              var target = document.getElementById('contento');
              var spinner = new Spinner(opts).spin(target);
            }
        });
    }


    function correct_label(dataset, index, label, elmnt){
       $.ajax
        ({
            type: "GET",
            url: '/labeler/correct_label?dataset='+dataset+"&imageIndex="+index+"&newLabel="+label,
            async: false,
            success: function () {
              $(elmnt).addClass("prediction-class-corrected");
              // window.location.assign("/viewer")
              //var target = document.getElementById('contento');
              //var spinner = new Spinner(opts).spin(target);
            }
        });
    }


    function save_dataset(){
       $.ajax
        ({
            type: "GET",
            url: '/labeler/save',
            async: false,
            success: function () {
              alert("Saved");
            }
        });
    }
  </script>

  <div class="container-fluid">
  <div class="row" style="height: 100%">
<!--     <div class="col-md-3 myNavigation" style="height: 100%">
      <h3>Datasets</h3>
      <ul class="datasets_list">
        {% for d in datasets %}
          <li class="{{'selected' if d.name == dataset.name else ''}}">
            <a class="dataset" href="#" onclick="change_dataset('{{d.name}}')">{{d.name}}</a>
          </li>
        {% endfor %}
      </ul>

      <h3>Dataset info</h3>
      <p>Samples: <b>{{dataset.X | length}}</b></p>
      <p>Size: <b>{{dataset.X.shape[1]}} x {{dataset.X.shape[2]}}</b></p>

    </div>
 -->
    <div class="col-md-12" id="contento">

        <div class="cursor">
          <a onclick="cursor_prev()" class="btn btn-primary">&larr; Prev</a>
          <span class="current">{{cursor_current}}</span>
          <a onclick="cursor_next()" class="btn btn-primary">Next &rarr;</a>
        </div>

      {% for c in cursor %}

      <div class="viewer-image-container">
        <img src="data:image/png;base64, {{c.image | safe}}" alt="Red dot" />


      <div>
        <div class='labels'>
        {% for label in c.labels %}
          <!-- <span style="text-align: center;">{{label}}</span> -->
          {% if label != 'corr' %}

          {% for class in range(5) %}
            <div class="viewer-prediction-class {{'prediction-class-selected' if c.labels[label][class] == 1 else ''}} {{'prediction-class-corrected' if c.labels['corr'][class] == 1 else ''}}" onclick="correct_label('{{dataset.name}}', {{c.index}}, {{class}}, this)">
              {{'o' if c.labels[label][class] == 1 else '&nbsp;' | safe}}
              {{'c' if c.labels['corr'][class] == 1 else '' | safe}}
            </div>

          {% endfor %}
          {% else %}
          {% endif %}
        {% endfor %}
        </div>

      {{cursor.labels}}
    </div>

      </div>

      {% endfor %}

    </div>
  </div>


  </div>
  
{% endblock %}